{% extends 'base.html' %}

{% block pageTitle %} About  {% endblock %}

{% block contentBody %}

    <div class="card mb-3" style="max-width:80%;">
        <div class="text-center d-flex flex-column align-items-center justify-content-center">
            <img src="/static/demo.png" class="card-img-top" alt="teamPic">
            <div class="card-body">
              <h2 class="card-title">General Mills India</h2>
              <h3 class="card-title">ECP Program - Kaveri!!! </h3>
              <p class="card-text">Grateful for all memorable moments shared during this incredible journey!</p>
            </div>
          </div>
        </div>
      </div>

{% endblock  %}